<div class="room-gallery">
  <div class="page-header">
    <h2>Baratie Rooms</h2>
    <p>Comfortable accommodations designed for your perfect stay</p>
  </div>

  <div class="room-card">
    <img src="/assets/download.webp">
    <h3>Deluxe Room</h3>
    <p>Perfect for couples or small families. Includes free Wi-Fi, AC, and breakfast.</p>
    <span class="price">₹5,500 / night</span>
  </div>

  <div class="room-card">
    <img src="/assets/4.webp">
    <h3>Luxury Room</h3>
    <p>Spacious and elegant with premium amenities, balcony view, and 24/7 service.</p>
    <span class="price">₹2,500 / night</span>
  </div>

  <div class="room-card">
    <img src="/assets/familyRoom.webp">
    <h3>Standard Room</h3>
    <p>Comfortable and budget-friendly. Ideal for solo travelers or short stays.</p>
    <span class="price">₹1,800 / night</span>
  </div>

  <div class="room-card">
    <img src="/assets/3.webp">
    <h3>Suite Room</h3>
    <p>Comfortable and budget-friendly. Ideal for solo travelers or short stays.</p>
    <span class="price">₹1,200 / night</span>
  </div>
</div>



  
